* {
  box-sizing:border-box;
}
body {
    background-color: white;
}

.game {
  position: absolute;
  background-color: black;
}

.message {
  position: absolute;
  display: none;
  opacity: 0;
  text-align: center;
  color:white;
  background-color: rgba(0,0,255,0.7);
  border: 8px outset gray;
  padding-bottom: 12%;
  transition: 1s;
  z-index:3;
}

.message h1{
  margin: auto;
  padding-top:18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:48px;
}

.message button {
  cursor: pointer;
  background-color:whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  width: 50%;
  margin-top:2%;
  border: 2px solid darkblue;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.score {
  position:absolute;
  top: 5px;
  left: 5px;
  box-sizing:initial;
  padding:1px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
  z-index:1;
}

.board {
  position: absolute;
  top:0px;
  left: 0px;
  background-color: black;
  border-collapse:collapse;
  z-index: 0;
}

.board td {
  font-size:100%;
  text-align: center;
  color:whitesmoke;
}

.board .wall {
  background-color: darkblue;
}

.pacman {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .pacman_body {
    width: 99%;
    height: 100%;
    border-radius: 50%;
    background: rgb(235, 219, 0);
    box-shadow: inset 0 35px 25px rgb(255,255,255,0.3);
  }
  
  .pacman_eye {
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    top: 15%;
    right: 40%;
    background: black;
  }
  
  .pacman_mouth {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 50%, 50% 50%, 100% 40%);
    animation: eating 0.5s ease-in-out infinite;
  }
  
  @keyframes eating {
    0%, 100% {
        clip-path: polygon(100% 75%, 50% 50%, 100% 15%);
    }
    50% {
        clip-path: polygon(100% 50%, 50% 50%, 100% 40%);
    }
  }

  .ghost {
    display: none;
    position: absolute;
    z-index: 2;
  }
  
  .ghost_hunt {
    animation: ghostfilicker 0.1s ease-in-out infinite;
  }
  
  .ghost_head {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
    clip-path: inset(0% 0% 50% 0%);
  }
  
  .ghost_eye {
    position:absolute;
    top:20%;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 50%;
  }
  
  .ghost_body {
    position: absolute;
    top:45%;
    width: 100%;
    height: 70%;
    background-color: red;
    animation: ghostani 0.5s ease-in-out infinite;
  }
  
  @keyframes ghostani {
    0%,100% {
      clip-path: polygon(77% 49%, 100% 100%, 100% 0%, 0% 0%, 0% 25%, 0% 99%, 11% 50%, 18% 100%, 28% 52%, 40% 100%, 42% 51%, 59% 100%, 59% 51%, 82% 100%);
    }
    50% {
      clip-path: polygon(87% 55%, 100% 100%, 100% 0%, 0% 0%, 0% 25%, 0% 99%, 14% 51%, 18% 100%, 34% 39%, 40% 100%, 49% 56%, 59% 100%, 68% 40%, 82% 100%);
    }
  }
  
  @keyframes ghostfilicker {
    0%,100% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.5;
    }
  }
  